@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-primary-bg: #00c853;
  --color-nav-bg: #2b2b2b;
}

body {
  background-color: #777;
  font-family: Arial, Helvetica, sans-serif;
}
